<router-outlet></router-outlet>
<!--<button mat-raised-button (click)="openDialog()">Hello World</button>-->
<!--&lt;!&ndash;<i class="material-icons">person</i>&ndash;&gt;-->
<!--<mat-icon>person</mat-icon>-->
<!--&lt;!&ndash;<mat-form-field class="example-full-width">&ndash;&gt;-->
<!--&lt;!&ndash;  <textarea matInput placeholder="Leave a comment"></textarea>&ndash;&gt;-->
<!--&lt;!&ndash;</mat-form-field> &ndash;&gt;-->
<!--<div>-->
<!--  這是一般的ICON顏色-->
<!--  <mat-icon>person</mat-icon>-->
<!--</div>-->

<!--<div>-->
<!--  這是加上primary顏色的ICON-->
<!--  <mat-icon color="primary">thumb_up</mat-icon>-->
<!--</div>-->

<!--<div>-->
<!--  這是加上accent顏色的ICON-->
<!--  <mat-icon color="accent">info</mat-icon>-->
<!--</div>-->

<!--<div>-->
<!--  這是加上warn顏色的ICON-->
<!--  <mat-icon color="warn">warning</mat-icon>-->
<!--</div>-->

<!--<button mat-button>我是按鈕</button>-->
<!--<button mat-button color="primary">Primary</button>-->
<!--<button mat-button color="accent">Accent</button>-->
<!--<button mat-button color="warn">Warn</button>-->
<!--<button mat-button disabled>Disabled</button>-->
<!--<a mat-button>Link</a> &lt;!&ndash; 放在a tag裡面也沒問題 &ndash;&gt;-->

<!--<button mat-raised-button>我是raised按鈕</button>-->
<!--<button mat-raised-button color="primary">Primary</button>-->
<!--<button mat-raised-button color="accent">Accent</button>-->
<!--<button mat-raised-button color="warn">Warn</button>-->
<!--<button mat-raised-button disabled>Disabled</button>-->
<!--<a mat-button>Link</a>-->

<!--<button mat-raised-button color="primary"><mat-icon>thumb_up</mat-icon> 我有Icon</button>-->

<!--<div>-->
<!--  <mat-button-toggle>我是個開關</mat-button-toggle>-->
<!--</div>-->

<!--<div>-->
<!--  <button mat-fab>-->
<!--    <mat-icon>thumb_up</mat-icon>-->
<!--  </button>-->
<!--  <button mat-fab color="primary">-->
<!--    <mat-icon>thumb_up</mat-icon>-->
<!--  </button>-->
<!--  <button mat-fab color="accent">-->
<!--    <mat-icon>thumb_up</mat-icon>-->
<!--  </button>-->
<!--  <button mat-fab color="warn">-->
<!--    <mat-icon>thumb_up</mat-icon>-->
<!--  </button>-->
<!--  <button mat-fab disabled>-->
<!--    <mat-icon>thumb_up</mat-icon>-->
<!--  </button>-->
<!--</div>-->

<!--<div>-->
<!--  <button mat-mini-fab>-->
<!--    <mat-icon>thumb_up</mat-icon>-->
<!--  </button>-->
<!--  <button mat-mini-fab color="primary">-->
<!--    <mat-icon>thumb_up</mat-icon>-->
<!--  </button>-->
<!--  <button mat-mini-fab color="accent">-->
<!--    <mat-icon>thumb_up</mat-icon>-->
<!--  </button>-->
<!--  <button mat-mini-fab color="warn">-->
<!--    <mat-icon>thumb_up</mat-icon>-->
<!--  </button>-->
<!--  <button mat-mini-fab disabled>-->
<!--    <mat-icon>thumb_up</mat-icon>-->
<!--  </button>-->
<!--</div>-->

<!--&lt;!&ndash;<div class="demo-ripple-container" mat-ripple&ndash;&gt;-->
<!--&lt;!&ndash;     [matRippleCentered]="false"&ndash;&gt;-->
<!--&lt;!&ndash;     [matRippleDisabled]="false"&ndash;&gt;-->
<!--&lt;!&ndash;     [matRippleUnbounded]="false"&ndash;&gt;-->
<!--&lt;!&ndash;     [matRippleRadius]="10"&ndash;&gt;-->
<!--&lt;!&ndash;     [matRippleColor]="'pink'"&ndash;&gt;-->
<!--&lt;!&ndash;     [matRippleSpeedFactor]="0.5"></div>&ndash;&gt;-->
<!--&lt;!&ndash;<mat-list role="list">&ndash;&gt;-->
<!--&lt;!&ndash;  <mat-list-item matRipple role="listitem">Item 1</mat-list-item>&ndash;&gt;-->
<!--&lt;!&ndash;  <mat-list-item matRipple role="listitem">Item 2</mat-list-item>&ndash;&gt;-->
<!--&lt;!&ndash;  <mat-list-item matRipple role="listitem">Item 3</mat-list-item>&ndash;&gt;-->
<!--&lt;!&ndash;</mat-list>&ndash;&gt;-->
<!--&lt;!&ndash;<button mat-raised-button color="accent" (click)="triggerRipple()">Trigger Ripple</button>&ndash;&gt;-->
